@import "tailwindcss";

@theme {
  --color-primary: #FF5A5F;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}